Source: jni-opensc-pkcs11
Section: utils
Priority: optional
Maintainer: Wolfgang Glas <wolfgang.glas@ev-i.at>
Build-Depends: cdbs, debhelper (>> 5), gcc, libltdl-dev, mingw-w32-jnix, mingw-w64-jnix

Package: jni-opensc-pkcs11
Architecture: any
Depends: java-runtime, libltdl7
Description: jni-opensc-pkcs11 is the java native plugin for the opensc-java pkcs11 library.

Package: mingw-w32-jni-opensc-pkcs11
Architecture: any
Depends:
Description: jni-opensc-pkcs11 is the java native plugin for the opensc-java pkcs11 library.

Package: mingw-w64-jni-opensc-pkcs11
Architecture: any
Depends:
Description: jni-opensc-pkcs11 is the java native plugin for the opensc-java pkcs11 library.
