Source: jni-opensc-pkcs11-mingw
Section: utils
Priority: optional
Maintainer: Wolfgang Glas <wolfgang.glas@ev-i.at>
Build-Depends: cdbs, debhelper (>> 5), mingw-w32-jnix, mingw-w64-jnix
XBCS-PBA-Category: fancylibs
XBCS-PBA-Generation: 2
XBCS-PBA-Distributions: lucid squeeze
XBCS-PBA-Repositories: deb.clazzes.org
XBCS-PBA-Build-Source-Mingw: deb http://deb.clazzes.org/$family $distribution-mingw-3 main

Package: mingw-w32-jni-opensc-pkcs11
Architecture: any
Depends:
Description: jni-opensc-pkcs11 is the java native plugin for the opensc-java pkcs11 library.

Package: mingw-w64-jni-opensc-pkcs11
Architecture: any
Depends:
Description: jni-opensc-pkcs11 is the java native plugin for the opensc-java pkcs11 library.
