<?xml version="1.0" encoding="UTF-8"?>
<classpath>
	<classpathentry kind="src" path=""/>
	<classpathentry kind="con" path="org.eclipse.jdt.launching.JRE_CONTAINER"/>
	<classpathentry exported="true" sourcepath="opensc-PKCS11-src.zip" kind="lib" path="opensc-PKCS11.jar">
		<attributes>
			<attribute value="opensc-PKCS11" name="org.eclipse.jdt.launching.CLASSPATH_ATTR_LIBRARY_PATH_ENTRY"/>
		</attributes>
	</classpathentry>
	<classpathentry kind="output" path=""/>
</classpath>
