#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

DEB_DH_ALWAYS_EXCLUDE := .svn

package = jni-opensc-pkcs11
docdir = debian/tmp/usr/share/doc/$(package)

builddir = build/unix

INSTALL_PROGRAM = install

common-build-arch::
	cd $(builddir) && $(MAKE)
	touch common-build-arch

clean::
	rm -f common-install-arch common-build-arch
	rm -rf *~ debian/jni-opensc-pkcs11 debian/jni-opensc-pkcs11-dbg debian/substvars
	-cd $(builddir) && make clean

common-install-arch::
	rm -rf debian/jni-opensc-pkcs11 debian/jni-opensc-pkcs11-dbg
	mkdir -p debian/jni-opensc-pkcs11/usr/lib/jni
	mkdir -p debian/mingw-w32-jni-opensc-pkcs11/usr/i686-pc-mingw32/bin
	mkdir -p debian/mingw-w64-jni-opensc-pkcs11/usr/x86_64-pc-mingw32/bin
	cp -p $(builddir)/libopensc-PKCS11-0.2.so debian/jni-opensc-pkcs11/usr/lib/jni
	touch common-install-arch
